.infoContainer {
  height: 100%;
  width: 334px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
}

.infoPopup {
  border-radius: 8px;
  border: 1px solid var(--beige1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 24px 16px;
  width: 100%;
  box-sizing: border-box;
}

.popupHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.importInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.importIcon {
  width: 24px;
  height: 24px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.popupBody {
  margin-top: 24px;
  padding-left: 32px;
}

.infoContent {
  display: flex;
  flex-direction: column;
}

.infoSubtext {
  margin-top: 8px;
}

.infoFooter {
  margin-top: 24px;
} 