// Teach <br/>Smart Steps
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 lineHeight: 17;
 wordWrap: 'break-word'
---
// Sign In
color: '#E5E5E5';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Register
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Neue Aufgabe zur 
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Medienbildung 
color: 'black';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// erstellen ...
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Erklärung
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Beispielaufgaben
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// FAQ
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Erklärvideo
color: '#1E1E1E';
 fontSize: 32;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Feature Erklärung
color: '#1E1E1E';
 fontSize: 32;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Lorem Ipsum
color: '#1E1E1E';
 fontSize: 24;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Sed urna massa adipiscing egestas accumsan aliquet mauris egestas turpis. Vitae pulvinar lobortis vel ut at. Sed facilisis vestibulum, sed bibendum. Vitae, tristique suspendisse condimentum pulvinar rutrum dui sed tincid...
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Lorem Ipsum
color: '#1E1E1E';
 fontSize: 24;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Sed urna massa adipiscing egestas accumsan aliquet mauris egestas turpis. Vitae pulvinar lobortis vel ut at. Sed facilisis vestibulum, sed bibendum. Vitae, tristique suspendisse condimentum pulvinar rutrum dui sed tincid...
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Lorem Ipsum
color: '#1E1E1E';
 fontSize: 24;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Sed urna massa adipiscing egestas accumsan aliquet mauris egestas turpis. Vitae pulvinar lobortis vel ut at. Sed facilisis vestibulum, sed bibendum. Vitae, tristique suspendisse condimentum pulvinar rutrum dui sed tincid...
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Beispielaufgaben
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Medienbildung Einführungseinheit
color: '#1E1E1E';
 fontSize: 32;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Dauer: Lorem Ipsum
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Material: Lorem Ipsum
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Unterrichtsphase: Lorem Ipsum
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Mehr Entdecken
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// FAQ
color: '#1E1E1E';
 fontSize: 16;
 fontFamily: 'Manrope';
 fontWeight: '600';
 wordWrap: 'break-word'