.sidebar {
  align-self: start;
  display: flex;
  flex-direction: column;
  min-width: 440px;
  width: 532px;
  gap: 12px;
}

.breadCrumb {
  width: auto;
  height: 56px;
  padding-left: 16px;
  border-radius: 8px;
  border: 1px solid var(--beige1);
  background: var(--beige4);
  display: flex;
  align-items: center;
  gap: 24px;
}

.breadCrumbButton {
  border-radius: 4px;
  min-height: 32px;
  padding: 5px 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
}

.sidemenu {
  border-radius: 8px;
  border: 1px solid var(--beige1);
  background: var(--beige4);
  display: flex;
  flex-direction: column;
  padding: 32px 54px;
  gap: 48px;
}

.sidemenuText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidemenuHeading {
  margin: 0;
  color: var(--black);
}

.highlight {
  color: var(--orange1);
}

.sidemenuDescription {
  color: var(--grey3);
}

.parameterList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.parameterListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.generateButton {
  position: relative;
  border-radius: 8px;
  background-color: var(--black);
  width: fit-content;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 8px;
  color: var(--beige4);
  border: none;
  cursor: pointer;
}

.iconGenerate {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.erstellen {
  position: relative;
} 