.aufgabenSetUp {
    height: 100%;
    background: var(--beige3-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .body {
    display: flex;
    gap: 64px;
    padding: 0 24px 16px;
  }
  
  /* New rule to make the middle content fill the remaining space */
  .formContainer {
    flex: 1;
  }
  