.durationSelector {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.durationLabel {
  color: var(--grey3);
}

.chips {
  display: flex;
  gap: 8px;
}

.chipButton {
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0.5px solid var(--black);
  background: transparent;
  border-radius: 16px;
  cursor: pointer;
}

.addChipButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.addIcon {
  width: 20px;
  height: 20px;
}

.durationSlider {
  width: 100%;
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0px;
  box-sizing: border-box;
  gap: 16px;
}

.sliderTrack {
  width: 100%;
  height: 4px;
  background: var(--grey3);
  border-radius: 2px;
  position: relative;
}

.sliderThumb {
  width: 16px;
  height: 16px;
  background: var(--color-orange);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 0;
  cursor: pointer;
}

.sliderLabels {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
} 