/* Global Colors and Text Styles */

:root {
    /* Fonts */
    --font-primary: Manrope;
  
    /* Font Sizes */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 32px;
    --text-xxl: 48px;
  
    /* Orange Colors */
    --orange4: #fff6ec;
    --orange3: #fed8c4;
    --orange2: #ffcdb3;
    --orange1: #fa4604;
  
    /* Grey Colors */
    --grey4: #d9d9d9;
    --grey3: #999;
    --grey2: #5a5a5a;
    --grey1: #454545;
    --black: #1e1e1e;
  
    /* Violet Colors */
    --violet3: #f9f4f2;
    --violet2: #eadceb;
    --violet1: #6f23b5;
  
    /* Beige Colors */
    --beige5: #fffefa;
    --beige4: #fffdf4;
    --beige3-background: #faf9f0;
    --beige2: #efede3;
    --beige1: #c9c7bf;
  
    /* General Colors */
    --color-black: var(--black);
    --color-orange: var(--orange1);
  }
  
  /* Text Styles */
  .heading-xxl-semibold {
    font-size: var(--text-xxl);
    font-weight: 600;
    line-height: 58px;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .heading-lg-bold {
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .heading-lg-medium {
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .body-md-bold {
    font-size: var(--text-md);
    font-weight: 600;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .body-md-medium {
    font-size: var(--text-md);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .body-sm-medium {
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .note-xs-medium {
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: 1.37;
    color: var(--color-black);
    font-family: var(--font-primary);
  }
  
  .highlight-md-bold {
    color: var(--color-orange);
    font-family: var(--font-primary);
    font-weight: 600;
  }
  