.floating-status {
  color: #1E1E1E;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: #FFFDF4;
  box-shadow: 0px 2px 6.3px rgba(199, 197, 188, 0.30);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #C7C5BC;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.floating-status-header {
  align-self: stretch;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.status-toggle-button {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.status-toggle-button img {
  width: 24px;
  height: 24px;
}

.status-icon {
  width: 24px;
  height: 24px;
}

.status-header-text {
  color: #1E1E1E;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.status-section {
  padding-left: 24px;
  margin-top: 8px;
}

.status-parameter {
  color: #1E1E1E;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.status-slider {
  width: 212.49px;
  height: 17.79px;
  position: relative;
  border: 0.94px solid #FED8C4;
}

.status-slider .active-bar {
  width: 187.22px;
  height: 0;
  position: absolute;
  left: 12.98px;
  top: 9.52px;
  border: 0.94px solid #FA4604;
}

.status-slider .inactive-bar {
  width: 93.61px;
  height: 0;
  position: absolute;
  left: 106.59px;
  top: 9.05px;
  border: 0.94px solid #FED8C4;
}

.status-slider .dot {
  width: 7.49px;
  height: 7.49px;
  position: absolute;
  border-radius: 50%;
}

.status-slider .dot.active {
  background: #FA4604;
}

.status-slider .dot.inactive {
  background: #FED8C4;
} 