/* src/styles/FloatingMenu.css */

.floating-menu {
    width: 370px;
    position: fixed;
    top: 110px;
    left: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    z-index: 1000;
}